.skills-container {
  display: flex;
  cursor: text;
}
.skills {
  font-family: "Fira Mono", monospace;
  padding: 1.25rem 0.5rem;
  font-size: 1.25rem;
  color: var(--file-text);
}
.sk-purp {
  color: var(--sk-purp);
}
.sk-red {
  color: var(--sk-red);
}
.sk-file {
  color: var(--sk-file);
}
.sk-semicolon {
  color: var(--file-text);
}
.sk-blue {
  color: var(--sk-blue);
}
.sk-lightblue {
  color: var(--sk-lightblue);
}
.sk-orange {
  color: var(--sk-orange);
}
.sk-function {
  padding-left: 1.5rem;
}

.sk-codebar {
  padding: 1.15rem 0.5rem;
  color: var(--cb-num);
}
.sk-cb-num {
  margin: 2.5px;
  font-size: 1rem;
}

@media (max-width: 750px) {
  .skills {
    font-size: 1rem;
    line-height: 1.5;
  }
}
