/* my VSCODE colors */
:root,
[data-theme="atom one dark"] {
	/* --line-number-digit-count: 1ch; */

	--sidebar-bg: #333842;
	--sidebar-icon: #757982;
	--sidebar-icon-hover: #d7dae0;
	--sidebar-icon-active-border: #d7dae0;
	--header-bg: #21252b;
	--header-tc: #9da5b4;
	--header-tc-hover: #383b41;
	--header-icon: #9da5b4;
	--header-icon-close: white;
	--header-icon-close-hover: #d41324;
	--explorer-bg: #21252b;
	--explorer-title: #cccccc;
	--explorer-item-bg: #333842;
	--explorer-file-hover: #262a31;
	--explorer-file-active: #2c313a;
	--taskbar-bg: #21252b;
	--taskbar-file-bg: #21252b;
	--taskbar-file-border: #292c34;
	--taskbar-file-gap: #181a1f;
	--taskbar-file-text: #7a838a;
	--taskbar-file-active: #282c34;
	--taskbar-file-active-text: #d7dae0;
	--file-bg: #282c34;
	--file-bg-hover: #2e323d;
	--file-bg-hover-border: #2c313a;
	--file-line-border-width: 0px;
	--file-text: #abb2bf;
	--caret-color: #618cff;
	--semicolon-color: #abb2bf;
	--menu-bg: #353b45;
	--foldPlaceholderForeground: #808080;
	--editorGutter-foldingControlForeground: #c5c5c5;
	--vscode-widget-shadow: rgba(0, 0, 0, 0.36);

	--dynamic-colors: #ffd700, #da70d6, #179fff;
	--dynamic-colors-n: 3;
	--default-color: #abb2bf;

	--css-name: #d18d4c;
	--css-bracket: hsl(54, 100%, 47%);
	/* --css-bracket: #e06c75; */
	--css-value: #46b6c2;
	--css-fn: #56b6c2;
	--css-numerical: #cb9a67;
	--css-type: #abb2bf;
	--css-unit: #d19a66;
	--css-quote: #98c379;
	--css-animation-name: #abb2bf;
	--css-animation-iteration-count: #abb2bf;
	--css-separator: #abb2bf;

	--cb-num: #636d83;
	--cb-num-hover: #acb2bf;

	--js-import-word: #c678dd;
	--js-import-named: #e06c75;
	--js-import-word-from: #c678dd;
	--js-import-source: #98c379;
	--js-variable-declaration: #c678dd;
	--js-variable-name: #61afef;
	--js-equals: #56b6c2;
	--js-function-arrow: #c678dd;
	--js-class: #abb2bf;
	--js-class-method: #61afef;
	--js-period: #abb2bf;
	--js-function-return: #c678dd;

	--html-tag-name: #e06c75;
	--html-text: #abb2bf;

	--comment-color: #5d6370;
	/* --user-select-color: #ffffff57; */
	--user-select-color: #3f4451;

	/* Settings */
	--vscode-settings-headerForeground: #e7e7e7;
	--vscode-scrollbar-shadow: #000000;
	--vscode-foreground: #cccccc;
	--vscode-settings-headerBorder: rgba(128, 128, 128, 0.35);
	--vscode-contrastBorder: transparent;
	--vscode-badge-background: #528bff;
	--vscode-badge-foreground: #d7dae0;
	--vscode-input-background: #1b1d23;
	--vscode-settings-textInputBorder: #181a1f;
	--vscode-input-foreground: #cccccc;
	--vscode-editor-foreground: #abb2bf;
	--vscode-settings-focusedRowBorder: #528bff;
	--vscode-settings-rowHoverBackground: rgba(44, 49, 58, 0.12);
	--vscode-settings-focusedRowBackground: rgba(44, 49, 58, 0.24);
	--vscode-settings-dropdownBackground: #353b45;
	--vscode-settings-dropdownForeground: #f0f0f0;
	--vscode-settings-dropdownBorder: #181a1f;
	--vscode-settings-checkboxBackground: #353b45;
	--vscode-settings-checkboxBorder: #181a1f;
	--vscode-settings-checkboxForeground: #f0f0f0;
	--vscode-settings-numberInputBackground: #1b1d23;
	--vscode-settings-numberInputBorder: #181a1f;
	--vscode-settings-numberInputForeground: #cccccc;
	--vscode-settings-modifiedItemIndicator: #0c7d9d;
	--vscode-toolbar-hoverBackground: rgba(90, 93, 94, 0.31);
	--vscode-menu-border: transparent;
	--vscode-menu-foreground: #f0f0f0;
	--vscode-menu-background: #353b45;
	--vscode-menu-separatorBackground: #606060;
	--vscode-menu-selectionBackground: #2c313a;
	--vscode-pickerGroup-foreground: #3794ff;
	--vscode-quickInputList-focusForeground: #d7dae0;
	--vscode-quickInputList-focusBackground: #2c313a;
	--vscode-inputValidation-errorBackground: #5a1d1d;
	/* --vscode-inputValidation-errorForeground: ; */
	--vscode-inputValidation-errorBorder: #be1100;
	--vscode-panelTitle-activeForeground: #cccccc;
	--vscode-panelTitle-inactiveForeground: #9d9d9d;
	--vscode-panelTitle-activeBorder: #0078d4;
	--vscode-button-foreground: #ffffff;
	--vscode-button-background: #4d78cc;
}

/* Dark+ */
[data-theme="darkplus"] {
	--sidebar-bg: #333333;
	--sidebar-icon: #858585;
	--sidebar-icon-hover: #ffffff;
	--sidebar-icon-active-border: #ffffff;
	--header-bg: #3c3c3c;
	--header-tc: #bfbfbf;
	--header-tc-hover: #474748;
	--header-icon: #cccccc;
	--header-icon-close: #fefcfc;
	--header-icon-close-hover: #d61425;
	--explorer-bg: #252526;
	--explorer-title: #cccccc;
	--explorer-item-bg: #252526;
	--explorer-file-hover: #2a2d2e;
	--explorer-file-active: #37373d;
	--taskbar-bg: #252526;
	--taskbar-file-bg: #2d2d2d;
	--taskbar-file-border: #1e1e1e;
	--taskbar-file-gap: #252526;
	--taskbar-file-text: #969690;
	--taskbar-file-active: #1e1e1e;
	--taskbar-file-active-text: #ffffff;
	--file-bg: #1e1e1e;
	--file-bg-hover: #1e1e1e;
	--file-bg-hover-border: #282828;
	--file-line-border-width: 2px;
	--file-text: #d4d4d4;
	--caret-color: #aeafad;
	--semicolon-color: #d4d4d4;
	--menu-bg: #252526;
	--foldPlaceholderForeground: #808080;
	--editorGutter-foldingControlForeground: #c5c5c5;
	--vscode-widget-shadow: rgba(0, 0, 0, 0.36);

	--dynamic-colors: #ffd700, #da70d6, #179fff;
	--dynamic-colors-n: 3;
	--default-color: #808080;

	--css-name: #d7ba7d;
	--css-value: #ce723b;
	--css-fn: #dcdcaa;
	--css-numerical: #aace9c;
	--css-type: #9cdcda;
	--css-unit: #b5cea8;
	--css-quote: #94cea8;
	--css-animation-name: #d4d4d4;
	--css-animation-iteration-count: #ce9178;
	--css-separator: #d4d4d4;

	--cb-num: #858585;
	--cb-num-hover: #c6c6c6;

	--js-import-word: #c586c0;
	--js-import-named: #9cdcfe;
	--js-import-word-from: #c586c0;
	--js-import-source: #ce9178;
	--js-variable-declaration: #569cd6;
	--js-variable-name: #dcdcaa;
	--js-equals: #d4d4d4;
	--js-function-arrow: #569cd6;
	--js-class: #9cdcfe;
	--js-class-method: #dcdcaa;
	--js-period: #d4d4d4;
	--js-function-return: #c586c0;

	--html-tag-name: #569cd6;
	--html-text: #d4d4d4;

	--comment-color: #709954;

	/* Settings */
	--vscode-settings-headerForeground: #e7e7e7;
	--vscode-scrollbar-shadow: #000000;
	--vscode-foreground: #cccccc;
	--vscode-settings-headerBorder: rgba(128, 128, 128, 0.35);
	--vscode-contrastBorder: transparent;
	--vscode-badge-background: #4d4d4d;
	--vscode-badge-foreground: #ffffff;
	--vscode-input-background: #3c3c3c;
	--vscode-settings-textInputBorder: transparent;
	--vscode-input-foreground: #cccccc;
	--vscode-editor-foreground: #d4d4d4;
	--vscode-settings-focusedRowBorder: #007fd4;
	--vscode-settings-rowHoverBackground: rgba(42, 45, 46, 0.3);
	--vscode-settings-focusedRowBackground: rgba(42, 45, 46, 0.6);
	--vscode-settings-dropdownBackground: #3c3c3c;
	--vscode-settings-dropdownForeground: #f0f0f0;
	--vscode-settings-dropdownBorder: #3c3c3c;
	--vscode-settings-checkboxBackground: #3c3c3c;
	--vscode-settings-checkboxBorder: #6b6b6b;
	--vscode-settings-checkboxForeground: #f0f0f0;
	--vscode-settings-numberInputBackground: #3c3c3c;
	--vscode-settings-numberInputBorder: transparent;
	--vscode-settings-numberInputForeground: #cccccc;
	--vscode-settings-modifiedItemIndicator: #0c7d9d;
	--vscode-toolbar-hoverBackground: rgba(90, 93, 94, 0.31);
	--vscode-menu-border: transparent;
	--vscode-menu-foreground: #cccccc;
	--vscode-menu-background: #252526;
	--vscode-menu-separatorBackground: #454545;
	--vscode-menu-selectionBackground: #0078d4;
	--vscode-pickerGroup-foreground: #3794ff;
	--vscode-quickInputList-focusForeground: #ffffff;
	--vscode-quickInputList-focusBackground: #04395e;
	--vscode-inputValidation-errorBackground: #5a1d1d;
	/* --vscode-inputValidation-errorForeground: ; */
	--vscode-inputValidation-errorBorder: #be1100;
	--vscode-panelTitle-activeBorder: #e7e7e7;
	--vscode-panelTitle-activeForeground: #e7e7e7;
	--vscode-panelTitle-inactiveForeground: rgba(231, 231, 231, 0.6);
	--vscode-button-foreground: #ffffff;
	--vscode-button-background: #0e639c;
}

[data-theme="dracula"] {
	--sidebar-bg: #343746;
	--sidebar-icon: #6272a4;
	--sidebar-icon-hover: #f8f8f2;
	--sidebar-icon-active-border: rgba(255, 122, 198, 0.5);
	--header-bg: #21222c;
	--header-tc: #f8f8f2;
	--header-tc-hover: #383942;
	--header-icon: #f8f8f2;
	--header-icon-close: #f8f8f2;
	--header-icon-close-hover: #d41224;
	--explorer-bg: #21222c;
	--explorer-title: #f8f8f2;
	--explorer-item-bg: #21222c;
	--explorer-file-hover: #313341;
	--explorer-file-active: #44475a;
	--taskbar-bg: #191a21;
	--taskbar-file-bg: #21222c;
	--taskbar-file-border: #8f527f;
	--taskbar-file-gap: #191a21;
	--taskbar-file-text: #6272a4;
	--taskbar-file-active: #282a36;
	--taskbar-file-active-text: #f8f8f2;
	--file-bg: #282a36;
	--file-bg-hover: #282a36;
	--file-bg-hover-border: #45475a;
	--file-line-border-width: 2px;
	--file-text: #f8f8ec;
	--caret-color: #aeafad;
	--semicolon-color: #f8f8f2;
	--menu-bg: #343746;
	--foldPlaceholderForeground: #808080;
	--editorGutter-foldingControlForeground: #c5c5c5;
	--vscode-widget-shadow: rgba(0, 0, 0, 0.36);

	--dynamic-colors: #f8f8f2, #ff79c6, #8be9fd, #50fa7b, #bd93f9, #ffb86c;
	--dynamic-colors-n: 6;
	--default-color: #f8f8f2;

	--css-name: #50fa7b;
	--css-value: #af93f9;
	--css-fn: #8be9fd;
	--css-numerical: #bd93f9;
	--css-type: #8be9f0;
	--css-unit: #ff79c6;
	--css-quote: #ddf284;
	--css-animation-name: #f8f8f2;
	--css-animation-iteration-count: #bd93f9;
	--css-separator: #f8f8f2;

	--cb-num: #6072a4;
	--cb-num-hover: #c6c6c6;

	--js-import-word: #ff79c6;
	--js-import-named: #f8f8f2;
	--js-import-word-from: #ff79c6;
	--js-import-source: #f1fa8c;
	--js-variable-declaration: #ff79c6;
	--js-variable-name: #50fa7b;
	--js-equals: #ff79c6;
	--js-function-arrow: #ff79c6;
	--js-class: #f8f8f2;
	--js-class-method: #50fa7b;
	--js-period: #f8f8f2;
	--js-function-return: #ff79c6;

	--html-tag-name: #ff79c6;
	--html-text: #f8f8f2;

	--comment-color: #6572a4;

	/* Settings */
	--vscode-settings-headerForeground: #f8f8f2;
	--vscode-scrollbar-shadow: #000000;
	--vscode-foreground: #f8f8f2;
	--vscode-settings-headerBorder: #bd93f9;
	--vscode-contrastBorder: transparent;
	--vscode-badge-background: #44475a;
	--vscode-badge-foreground: #f8f8f2;
	--vscode-input-background: #282a36;
	--vscode-settings-textInputBorder: #191a21;
	--vscode-input-foreground: #f8f8f2;
	--vscode-editor-foreground: #f8f8f2;
	--vscode-settings-focusedRowBorder: #6272a4;
	--vscode-settings-rowHoverBackground: rgba(68, 71, 90, 0.14);
	--vscode-settings-focusedRowBackground: rgba(68, 71, 90, 0.28);
	--vscode-settings-dropdownBackground: #21222c;
	--vscode-settings-dropdownForeground: #f8f8f2;
	--vscode-settings-dropdownBorder: #191a21;
	--vscode-settings-checkboxBackground: #21222c;
	--vscode-settings-checkboxBorder: #191a21;
	--vscode-settings-checkboxForeground: #f8f8f2;
	--vscode-settings-numberInputBackground: #21222c;
	--vscode-settings-numberInputBorder: transparent;
	--vscode-settings-numberInputForeground: #f8f8f2;
	--vscode-settings-modifiedItemIndicator: #ffb86c;
	--vscode-toolbar-hoverBackground: rgba(90, 93, 94, 0.31);
	--vscode-menu-border: transparent;
	--vscode-menu-foreground: #f8f8f2;
	--vscode-menu-background: #343746;
	--vscode-menu-separatorBackground: #606060;
	--vscode-menu-selectionBackground: #44475a;
	--vscode-pickerGroup-foreground: #8be9fd;
	--vscode-quickInputList-focusForeground: #f8f8f2;
	--vscode-quickInputList-focusBackground: #44475a;
	--vscode-inputValidation-errorBackground: #5a1d1d;
	/* --vscode-inputValidation-errorForeground: ; */
	--vscode-inputValidation-errorBorder: #ff5555;
	--vscode-panelTitle-activeBorder: #ff79c6;
	--vscode-panelTitle-activeForeground: #f8f8f2;
	--vscode-panelTitle-inactiveForeground: #6272a4;
	--vscode-button-foreground: #f8f8f2;
	--vscode-button-background: #44475a;
}
